<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>RojakSquad - Reference App</title>
        <!-- Favicon-->
        <link rel="icon" type="image/png" sizes="96x96" href="static/assets/favicon/favicon-96x96.png">
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body class="bg-home" id="page-home" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3" id="homeNav">
                <div class="container px-3 px-lg-3">
                    <img src="img/logo.png" width="50px" alt="">
                    <a class="navbar-brand fw-bolder px-2" href="#" style="color: #f4623a;">Rojak Reference</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto mt-2 mb-0">
                            <li class=" nav-item py-0 px-2"><a class="nav-link" href="#category" style="color: #f4623a;">Categories</a></li>
                            <li class=" nav-item py-0 px-2"><a class="nav-link" href="#services" style="color: #f4623a;">Our Services</a></li><li class=" nav-item py-0 px-2"><a class="nav-link" href='/references?email=<%= email %>' style="color: #f4623a;">My References</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

    </div>
    <div id="page">
        <!-- Searchbar -->
        <h4 class="text-center pt-6" style=<%= auth ? 'color:green;' : 'color:red' %>><%= msg %> </h4>
        <!-- Carrousel Buku -->
        <div class="container">
            <section class="page-section pt-4 px-5 bg-body">
                <div class="container-fluid row" >
                    <h2 class="text-center">Best technology book this year!</h2>
                    <p class="text-center">Latest Catalog 180,075 collections of 119,099 titles available!</p>
                    <div id="carouselExampleControls" class="carousel slide pt-5" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.933.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.935.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.800.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.934.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.932.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.809.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.804.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.805.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.806.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.807.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <div class="row"> 
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.801.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.802.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.932.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.934.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col"><img src="https://openlibrary.telkomuniversity.ac.id/uploads/book/cover/22.01.800.jpg" width="150px" class="rounded mx-auto d-block" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </a>
                    </div>
                </div>
            </section>
        </div>
    <!-- End of carrousel buku -->
        
        <!-- Book category -->
        <div class= "text-center bg-dark py-5" id="category">
            <h2 class="text-white">Choose your own interest of reference!</h2>
            <p class="text-white">We serve many categories for you</p>
            <hr class="divider"/>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img src="img/computer.png" width="80px" alt="">
                        <div class="btn fw-bolder mb-2">COMPUTER</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img src="img/data-mining.png" width="80px" alt="">
                        <div class="btn fw-bolder mb-2">DATA MINING</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img src="img/software-developer.png" width="80px" alt="">
                        <div class="btn fw-bolder mb-2">SOFTWARE ENGINEERING</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img src="img/ux.png" width="70px" alt="">
                        <div class="btn fw-bolder mb-2">UI / UX</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img src="img/security.png" width="70px" alt="">
                        <div class="btn fw-bolder mb-2">SECURITY</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img src="img/database.png" width="70px" alt="">
                        <div class="btn fw-bolder mb-2">DATABASE</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img src="img/app-development.png" width="70px" alt="">
                        <div class="btn fw-bolder mb-2">WEB DEVELOPMENT</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img src="img/testing.png" width="70px" alt="">
                        <div class="btn fw-bolder mb-2">SOFTWARE TESTING</div>
                    </div>
                </div>
            </div>    
        </div>
        
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">At Your Service</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Rich Resources</h3>
                            <p class="text-muted mb-0">So many weapon to help you clear the educational path.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Easy To Access</h3>
                            <p class="text-muted mb-0">Easy like a portable car.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Global Resources</h3>
                            <p class="text-muted mb-0">Our reference comes from all over the world.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Made with Love</h3>
                            <p class="text-muted mb-0">We gladly loves to see everyone happy with our apps.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- Call to action-->
        <section class="page-section pt-2">
            <div class="container py-1 text-center">
                <div class="row">
                    <div class="col">
                        <div class="div align-items-center">
                            <img src="img/upload.png" width="500px" alt="">
                        </div>
                    </div>
                    <div class="col pt-6 bg-primary text-white rounded-1">
                        <h2 class="m-auto text-center pb-2">Make your own reference visible to the world!</h2>
                        <p class="text-center pb-3">Start uploading your own reference now!</p>
                        <a class="btn btn-light btn-l btnTry btn-xl" href="/login">Try Now!</a>
                    </div>
                </div>
                <form action="/auth/create" method="post">
                    <input type="text" name="title">
                    <input type="text" name="summary">
                    <input type="date" name="date">
                    <input type="email" hidden name="email" value=<%= email %>>
                    <button type="submit">Create book</button>
                </form>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-3">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - RojakSquad</div></div>
        </footer>
    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script src="/reload/reload.js"></script>


    </body>
</html>
