<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="vh-50">
      <div class="px-4 py-5  px-md-5 vh-100 overflow-auto bg">
        <div class="container py-5">
          <div class="row gx-lg-5"></div>
            <div class="centered">
              <div class="card">
                <div class="card-body shadow py-5 px-md-5">
                  <p class="text-center" style=<%= auth ? 'color:green;' : 'color:red' %>><%= msg %></p>
                  <h1 class="text-center text-primary fw-bolder">Hello Again!</h1>
                  <hr>
                  <p>Log into your account and get a ton access of references</p>
                  <form action="/auth/login" method="post">
                    <!--Email input -->
                    <div class="form-group">
                      <label class="fw-bold form-label" for="form3Example3">Email address</label>
                      <input type="email" id="email" name="email" class="form-control" required placeholder="Input Email Address" />
                    </div>

                    <!-- Password input  -->
                    <div class="form-group">
                      <label class="fw-bold form-label" for="form3Example4">Password</label>
                      <input type="password" id="password" name="password" class="form-control" required placeholder="Input password"/>
                    </div> 
                      
    
                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-left mb-4">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                      <label class="form-check-label" for="form2Example33">
                        Remember Me
                      </label>
                    </div>
    
                    <!-- Submit button -->
                  <div class="d-grid gap-5 col-5 mx-auto">
                    <button type="submit" class="justify-content-center fw-bold btn btn-primary btn-block mb-4">
                      Login
                    </button>  
                  </div>
                  
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <a class= "fw-bold" href="/register">Join NOW!</a>
                  </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </section>
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="./js/login.js"></script>

    <script src="/reload/reload.js"></script>
</body>
</html>